[Unit]
Description=Scrape last 24 hours of blockchain transaction records from Etherscan
After=network.target

[Service]
ExecStart=/usr/bin/python3 etherscan.py transactions
WorkingDirectory=/home/pi/BlockchainResearch/Scripts
StandardOutput=inherit
StandardError=inherit
User=pi

[Install]
WantedBy=multi-user.target